<div id="contacts-container">
    <h1>Contacts</h1>
    <div id="contacts-list">
        <div class="contact-box" id="c1">
            <div class="contact-icon">
                <i class="pi pi-map-marker"></i>
            </div>
            <div class="contact-text">
                Porto, Portugal
            </div>
        </div>
        <div class="contact-box" id="c2">
            <div class="contact-icon">
                <i class="pi pi-phone"></i>
            </div>
            <div class="contact-text">
                +351 934 388 716
            </div>
        </div>
        <div class="contact-box" id="c3">
            <div class="contact-icon">
                <i class="pi pi-at"></i>
            </div>
            <div class="contact-text">
                diogop.2001&#64;gmail.com
            </div>
        </div>
    </div>
</div>