<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
    <header>
        <nav>
            <a class="button" routerLink="/home" routerLinkActive="active-button" ariaCurrentWhenActive="page">Home</a>
            <a class="button" routerLink="/about-me" routerLinkActive="active-button" ariaCurrentWhenActive="page">About Me</a>
            <a class="button" routerLink="/projects" routerLinkActive="active-button" ariaCurrentWhenActive="page">Projects</a>
            <a class="button" routerLink="/contacts" routerLinkActive="active-button" ariaCurrentWhenActive="page">Contacts</a>
        </nav>
    </header>
    <ngx-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)"></ngx-particles>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <div class="tm">
            © 2024 Diogo Pereira
        </div>
        <div class="urls">
            <a class="button" href="https://github.com/DimeuWasTaken" target="_blank">
                <ng-icon name="featherGithub"></ng-icon>
            </a>
            <a class="button" href="https://www.linkedin.com/in/diogo-pereira-57b357231/" target="_blank">
                <ng-icon name="featherLinkedin"></ng-icon>
            </a>
        </div>
    </footer>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
