/*.intro
  text-align: center
  color: white*/

footer
  text-align: center
  display: flex
  justify-content: center
  color: gray
  font-size: 15px
  flex-direction: column
  height: 8vh

.content-container
  padding: 1em
  margin: 0.25em
  height: 87vh
  width: 99vw
  overflow: hidden
  border: 0.15em solid greenyellow

.content
  text-align: justify
  padding: 0 1em
  height: 100%
  overflow-y: scroll

.content::-webkit-scrollbar
  background-color: #444444
  width: 5px

.content::-webkit-scrollbar-thumb
  background-color: #888888

