/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'

$backgroundColor: #171744
$font-primary: 'pixel'

@font-face
  font-family: $font-primary
  src: url('./assets/fonts/pixel.ttf')
  font-weight: 300
  font-style: normal

body
  font-family: $font-primary
  font-size: 30px
  background-color: $backgroundColor
  color: white


