/* You can add global styles to this file, and also import other style files */

html {
    --background-color: #faf9f6;
    --frame-color: #77c9f8;
    --header-color-light: #0972ae;
    --header-color-dark: #042f48;
    --footer-color: #292929;
}